<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <header>
    <h1>Microfinance Credit Risk API</h1>
  </header>
  <body>
  <form class="" action="index.html" method="post">
  <input type="text" name="Gender" value="" placeholder="Borrower Gender">
  <br>
  <input type="text" name="Country Code" value="" placeholder="Country Code">
  <br>
  <input type="text" name="Amount" value="" placeholder="Amount">
  <br>
  <input type="text" name="Term" value="" placeholder="Term">
  <br>
  <input type="text" name="Repayment Interval" value="" placeholder="Repayment Interval">
  <br>
  <input type="text" name="Distribution Model" value="" placeholder="Distribution Model">
  <br>
  <input type="text" name="Sector" value="" placeholder="Sector">
  <br>
  <input type="text" name="Activity" value="" placeholder="Activity">
  <br>
  <input type="text" name="Use" value="" placeholder="Description of Loan Use">
  <br>
  <button type="button" name="button">submit</button>
  </form>
  </body>
</html>
